<html>
<script src="/static/jquery-3.6.0.js"></script>

<div id="app">
<h2>Is Robot Right?</h2>
<p>x out of 10 texts evalutated</p>

    <form method="post">
        <textarea id="input" name="humaninput"></textarea>

	<textarea id="output" name="aioutput" disabled=true></textarea>

	<input id="submit" type="submit" label="analyze this!"></input>
    </form>

</div>
<script src="/static/stepford.js"></script>

 <div class='container'>
     <input type="button" value="1" id="but1" onclick="" />
     <input type="button" value="2" id="but2" onclick="" />
     <input type="button" value="3" id="but3" onclick="" />
     <input type="button" value="4" id="but4" onclick="" />
     <input type="button" value="5" id="but5" onclick="" />
 </div>

</html>

