{% extends "_sitetemplate.html" %}
{% block title %}Stepford ☙ Help an AI spot sexist bias in stories{% endblock %}
{% block content %}

<div class="container landing">
  <div class="row">
    <div class="col-sm landing"> 
      <h2>Help us spot sexism with Stepford</h2>      
    	<h3>Become a tester and help to train Stepford, an AI that is being trained to spot sexist bias in stories</h3>
    	<p>Once you've signed up, testing takes about 10 minutes and involves you scoring the guesses made by Stepford about 10 random texts from stories by humans and AIs.</p>
    	<p><a class="btn btn-link" href="https://algowritten.org/stepford-app/">Learn more about the Stepford app</a></p>
      <p><a href="/login"  class="btn btn-primary" title="Register or log in" id="loginbutton"/>Register/log in</a></p>
    	<p>Read <a href="https://docs.google.com/document/d/1RNjyDQEe6ceqadEyb6jBQvMn8aoAhYTELxsZClBmz2o/edit?usp=sharing">Privacy Policy</a></p>
	    <br>
    </div>
  </div>
</div>

{% endblock %}
